{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
    <title>{{sysSettings.siteName}} - {{video.channelName}}</title>
    <link href="/static/vendor/videojs/css/video-js.css" rel="stylesheet">
    <script type="text/javascript" src="/static/vendor/socketio/js/socket.io.min.js"></script>
{% endblock %}

{% block body %}
<div class="">
      <div class="container-fluid">
          <div class="row justify-content-md-center">
              <div class="col-xl-10 col-sm-12">
                  <div class="White-BG player">
                      <video id="video" class="shadow recordedStream video-js vjs-big-play-centered" poster="/videos/{{video.thumbnailLocation}}" autoplay controls preload="auto" data-setup='{"fluid": true}'>
                        <source src="{{streamURL}}" type="video/mp4">
                        <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                  </div>
                  <div class="video-buttons-mobile justify-content-center">
                      <div>
                          <a href="{{streamURL}}" class="btn btn-primary shadow">
                              <i class="fas fa-download"></i>
                          </a>
                      </div>
                      <div style="margin-left:5px;">
                              <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#commentModal" {% if video.allowComments == False or sysSettings.allowComments == False %} disabled aria-disabled="true" {% endif %}>
                                  <i class="fas fa-comment"></i>
                              </button>
                      </div>
                      <div style="margin-left:5px;">
                          <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#shareModal">
                              <i class="fas fa-share-alt"></i>
                          </button>
                      </div>
                      {% if video.owningUser == current_user.id %}
                      <div style="margin-left:5px;">
                          <button type="button" class="btn btn-primary shadow" onclick="setScreenShot()">
                              <i class="fas fa-camera"></i>
                          </button>
                      </div>
                      <div style="margin-left:5px;">
                          <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#editModal">
                              <i class="fas fa-edit"></i>
                          </button>
                      </div>
                      <div style="margin-left:5px;">
                          <button type="button" class="btn btn-danger shadow" data-toggle="modal" data-target="#deleteModal">
                              <i class="fas fa-trash-alt"></i>
                          </button>
                      </div>
                      {% endif %}

                  </div>
                  <div class="White-BG recordedStreamInfo shadow">
                      <div class="video-buttons-lg">
                          {% if video.owningUser == current_user.id %}
                          <div class="float-right" style="margin-left:5px;">
                              <button type="button" class="btn btn-danger shadow" data-toggle="modal" data-target="#deleteModal">
                                  <i class="fas fa-trash-alt"></i>
                              </button>

                          </div>
                          <div class="float-right" style="margin-left:5px;">
                              <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#editModal">
                                  <i class="fas fa-edit"></i>
                              </button>
                          </div>
                          <div class="float-right" style="margin-left:5px;">
                              <button type="button" class="btn btn-primary shadow" onclick="newScreenShot()">
                                  <i class="fas fa-camera"></i>
                              </button>
                          </div>
                          {% endif %}
                          <div class="float-right" style="margin-left:5px;">
                              <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#shareModal">
                                  <i class="fas fa-share-alt"></i>
                              </button>
                          </div>
                          <div class="float-right" style="margin-left:5px;">
                              <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#commentModal" {% if video.allowComments != True or sysSettings.allowComments != True %} disabled aria-disabled="true"{% endif %}>
                                  <i class="fas fa-comment"></i>
                              </button>
                          </div>
                          <div class="float-right">
                              <a href="{{streamURL}}" class="btn btn-primary shadow">
                                  <i class="fas fa-download"></i>
                              </a>
                          </div>
                      </div>
                      <div>
                          <div class="streamcard-IconText"><i class="fas fa-video"></i></div> <div style="float:left;"><b>{{video.channelName}}</b></div> <br>
                          <div class="streamcard-IconText"><i class="fas fa-tv"></i></div> <div style="float:left;"><b><a href="/channel/{{video.channel.id}}/">{{video.channel.channelName}}</a></b></div> <br>
                          <div class="streamcard-IconText"><i class="fas fa-hashtag"></i></div> <div style="float:left;"> <b><a href="/topic/{{video.topic}}/">{{video.topic|get_topicName}}</a></b></div> <br><br>
                          <div><b>{% if video.description != None %}{{video.description}} {% else %}No Description Available {% endif %}</b></div>
                      </div>
                  </div>
                  <div class="White-BG recordedStreamInfo shadow">
                      <div>
                          <div class="streamcard-IconText"><i class="fas fa-calendar-alt"></i></div> <div style="float:left;"> <b>{{video.videoDate|normalize_date}}</b></div> <br>
                          <img src="{{video.owningUser|get_pictureLocation}}" width="32" height="32"> <b><a href="/streamers/{{video.owningUser}}/">{{video.owningUser|get_userName}}</a></b><br>
                          <div class="streamcard-IconText"><i class="fas fa-users"></i></div> <div style="float:left;">{{video.views}} </div><br>
                          <div class="streamcard-IconText"><a href="javascript:void(0)" onclick="changeUpvote()"><i id="upVoteIcon" class="far fa-thumbs-up"></i></a></div> <div style="float:left;"><span id="totalUpvotes"></span></div> <br>
                      </div>
                  </div>
                  <br>
                  {% if video.comments != [] and sysSettings.allowComments == True and video.allowComments == True %}
                  <div class="card shadow">
                      <div class="card-header"><b>Comments</b></div>
                      <div class="card-body comments-box">
                        {% for comment in video.comments %}
                        <div class="comment shadow">
                          <div class="row">
                            <div class="col-lg-2 col-md-2">
                                <b>{{comment.userID|get_userName}}</b><br>
                              <img src="{{comment.userID|get_pictureLocation}}" width="64px" height="64px" onerror="this.src='/static/img/user2.png';">
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <b>{{comment.timestamp|normalize_date}}</b><br>
                                {{comment.comment}}
                            </div>
                            <div class="col-lg-2 col-md-2">
                              <div class="float-right">
                                {% if video.owningUser == current_user.id or user.has_role('Admin') or comment.userID == current_user.id %}
                                    <a href="/play/{{video.id}}/comment?action=delete&commentID={{comment.id}}" class="btn btn-danger shadow"><i class="fas fa-trash-alt"></i></a>
                                {% endif %}
                              </div>
                            </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
              </div>

      <br>
      <br>
    {% if randomRecorded != [] and randomRecorded != None %}
              <div class="col-xl-10 col-lg-12">
                  <div class="card shadow" style="margin-top:30px;margin-bottom:30px;">
                      <h5 class="card-header">Other Videos from this Channel</h5>
                      <div class="card-body">
                        <div class="container-fluid justify-content-center" style="width:100%;padding-top:15px;">
                              <div class="streamList d-flex justify-content-center flex-wrap">
                                  {% for vid in randomRecorded%}
                                    {% if vid.id != video.id and vid.pending != True%}
                                    <div class="streamcard">
                                      <a href="/play/{{vid.id}}">
                                          <div class="stream shadow card p-2 streamcard-item">
                                            <div>
                                                <img class="stream-img card-img-top shadow lazy" src="/static/img/video-placeholder.jpg" data-src="/videos/{{vid.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                                                {% if vid.channel.protected %}
                                                <div class="streamcard-overlay">
                                                    <div class="quarter-circle-top-left">
                                                        <i class="stream-image-overlay-text fas fa-lock"></i>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title text-shadow-close">{{vid.channelName|limit_title}}</h5><br>
                                                <i class="fas fa-hashtag"></i> <b>{{vid.topic|get_topicName}}</b> <br>
                                                <i class="fas fa-calendar-alt"></i> <b>{{vid.videoDate|normalize_date}}</b> <br>
                                            </div>
                                            <div class="streamcard-footer bg-transparent">
                                                <div class="float-left"><i class="fas fa-users"></i> {{vid.views}}</div>
                                                <div class="float-left" style="position:relative;left:20px;"><i id="upVoteIcon" class="far fa-thumbs-up"></i> {{vid.id|get_Video_Upvotes}}</div>
                                                <div class="float-right"><i class="fas fa-clock"></i> {{vid.length|hms_format}}</div>
                                            </div>
                                        </div>
                                      </a>
                                    </div>
                                  {% endif %}
                                  {% endfor %}
                              </div>
                        </div>
                      </div>
                  </div>
              </div>

          {% endif %}
          </div>
      </div>
</div>

{% if video.owningUser == current_user.id %}
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Edit Video Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="/play/{{video.id}}/change" method="post">
      <div class="modal-body">

        <h5>Name of the Stream:</h5>
        <input type="text" class="form-control" value="{{video.channelName}}" name="newVidName" required>
        <br>
        <h5>Stream Topic:</h5>
        <select class="form-control" name="newVidTopic" id="channeltopic" style="font-family: FontAwesome, sans-serif;" required >
            {% for topic in topics %}
            <option value={{topic.id}} {% if video.topic==topic.id %} selected {% endif %}>{{topic.name}}</option>
            {% endfor %}
        </select>
        <br>
        <div class="form-group">
            <label for="description" class="col-form-label"><b>Description</b></label>
            <textarea class="form-control" name="description" id="description" value="" maxlength="2048">{{video.description}}</textarea>
        </div>
        <div class="form-group row">
            <div class="col-8">
                <label for="chatSelect" class="col-form-label"><b>Allow Comments on This Video</b></label>
            </div>
            <div class="col-4">
                <input type="checkbox" data-toggle="toggle" id="allowComments" name="allowComments" {% if video.allowComments == True %} checked {% endif %}>
            </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save Changes">
      </div>
        </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalTitle">Confirm Video Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
            <h5>Are you sure you want to delete this video?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <a href="/play/{{video.id}}/delete" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newSSModal" tabindex="-1" role="dialog" aria-labelledby="newSSModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newSSModalTitle">Confirm New Video Thumbnail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
            <h5>Use this picture?</h5>
            <img id="newScreenShotImg" src="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" onclick="setScreenShot()" class="btn btn-success" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

{% endif %}

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalTitle">Share a Video/Stream</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <div style="margin: 0 auto;width: 99%; text-align: center;">
            <button type="button" id="FBShareBtn" class="btn shadow" style="background-color:#4267B2;color:white;" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{request.url}}','facebook-share-dialog','width=626,height=436');return false;">Share on Facebook</button>
            <button type="button" id="TwitterShareBtn" class="btn shadow" style="background-color:#1dcaff;color:white;" onclick="window.open('https://twitter.com/share?url={{request.url}}&text=Check out this Video! - {{video.channelName}}','twitter-share-dialog','width=626,height=436');return false;">Share on Twitter</button>
          </div>
        <br>
        <div class="form-group row">
            <label for="embedURLInput" class="col-sm-2 col-form-label"><b>Embed</b></label>
            <div class="col-sm-10">
                <input class="form-control" id="embedURLInput" type="text" value="<iframe src='{{request.url}}?embedded=True&autoplay=True' width=600 height=345></iframe>" readonly onClick="this.select();">
            </div>
        </div>
        <div class="form-group row">
            <label for="linkShareInput" class="col-sm-2 col-form-label"><b>Link</b></label>
            <div class="col-sm-10">
                <input class="form-control" id="linkShareInput" type="text" value="{{request.url}}" readonly onClick="this.select();">
            </div>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalTitle">Add A Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% if user.is_authenticated == True %}
      <form action="/play/{{video.id}}/comment" method="post">
          <div class="modal-body">
            <div class="form-group">
                <label for="commentText">Comment</label>
                <textarea class="form-control" id="commentText" name="commentText" rows="3"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Submit">
          </div>
      </form>
      {% else %}
        <div class="modal-body">
            You must be logged in to post a comment. <br><br>
            <a href="/login" class="btn btn-primary">Login</a>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="/static/vendor/videojs/js/video.js"></script>

    <script>
        var player = videojs('video', {autoplay: true});
    </script>

    <script type="text/javascript" charset="utf-8">
        var conn_options = {
            'sync disconnect on unload':true
        };

        var socket = io();
    </script>

    <script>
        socket.on('connect', function() {
            socket.emit('getUpvoteTotal', {loc: '{{video.id}}', vidType: 'video'});
        });
    </script>

    <script>
        setInterval(function() {
          socket.emit('getUpvoteTotal', {loc: '{{video.id}}', vidType: 'video'});
        },30000 );
    </script>

    <script type="text/javascript" charset="utf-8">
        socket.on('upvoteTotalResponse', function (msg) {
            document.getElementById("totalUpvotes").innerHTML = msg['totalUpvotes'];
            if (msg['myUpvote'] === 'True'){
                if ( document.getElementById("upVoteIcon").classList.contains('far') ) {
                    document.getElementById("upVoteIcon").classList.remove('far');
                    document.getElementById("upVoteIcon").classList.add('fas');
                }
            }
            else if (msg['myUpvote'] === 'False'){
                if ( document.getElementById("upVoteIcon").classList.contains('fas') ) {
                    document.getElementById("upVoteIcon").classList.remove('fas');
                    document.getElementById("upVoteIcon").classList.add('far');
                }
            }
        });
    </script>

    <script>
        function changeUpvote() {
            socket.emit('changeUpvote', {loc: '{{video.id}}', vidType: 'video'});
            socket.emit('getUpvoteTotal', {loc: '{{video.id}}', vidType: 'video'});
        }
    </script>

    <script>
        socket.on('checkScreenShot', function(msg) {
            document.getElementById("newScreenShotImg").src=msg['thumbnailLocation'];
            $("#newSSModal").modal()
        });
    </script>

    <script>
        function newScreenShot() {
            window.whereYouAt = player.currentTime();
            console.log(window.whereYouAt);
            socket.emit('newScreenShot', {loc: '{{video.id}}', timeStamp: window.whereYouAt});
        }
    </script>

    <script>
        function setScreenShot() {
            socket.emit('setScreenShot', {loc: '{{video.id}}', timeStamp: window.whereYouAt});
        }
    </script>

{% endblock %}