{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "themes/" + sysSettings.systemTheme + "/custom_macros.html" import fields_errors %}

{% block head %}
<title>{{sysSettings.siteName}} - Resend Confirmation</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card my-5 shadow text-left">
                    <h5 class="card-header text-white bg-dark mb-3">
                        Confirm Email Adddress
                    </h5>
                    <div class="card-body text-left">
                        <div>

                            {{fields_errors(send_confirmation_form.email)}}
                            <form action="{{ url_for_security('send_confirmation') }}" method="POST" name="send_confirmation_form">
                              {{ send_confirmation_form.hidden_tag() }}
                              {{ render_field(send_confirmation_form.email, class_="form-control") }}
                              {{ render_field(send_confirmation_form.submit, class_="form-control") }}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}